streamlit
transformers[agents]
sentence-transformers
langchain
chromadb-client
opentelemetry-exporter-otlp
unstructured[all-docs]
python-magic
pdf2image
pdfminer.six
pytesseract
python-dotenv
streamlit-drawable-canvas
elasticsearch
fastapi ##required for chromadb as of 2024-02-06
llama-cpp-python
