streamlit
transformers[agents]
sentence-transformers
langchain
accelerate
llama-cpp-python
auto-gptq
optimum
chromadb-client
opentelemetry-exporter-otlp
unstructured[all-docs]
python-magic
pdf2image
pdfminer.six
pytesseract
diffusers
python-dotenv
streamlit-drawable-canvas
autoawq
llama-cpp-python