jupyterlab
transformers[agents]
torch
langchain
langchain-community
faiss-cpu
sentence-transformers
InstructorEmbedding
unstructured
huggingface_hub
bs4
ipywidgets
chromadb
rouge
pypdf
opensearch-py
optimum
# auto-gptq
diffusers
invisible_watermark
accelerate
safetensors
pymilvus
accelerate
elasticsearch
llama-cpp-python
